body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  

  .navbar-dark {
    background: linear-gradient(to right, rgba(0, 45, 165, 0.97), rgba(10, 88, 157, 0.97), rgba(10, 88, 157, 0.97), rgba(0, 45, 165, 0.97));
  }
  
  .navbar-brand {
    margin-right: 20px;
  }
  
  .nav-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 80%;
    padding: 0 .4rem;
  }
  
  .navbar .navbar-nav .nav-link {
    transition: all .05s ease-in-out;
  }
  
  .navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 1px solid white;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid white;
  }
  
  .navbar-toggler:hover {
    cursor: pointer;
  }
  
  #search-bar {
    background-color: #5c87af;
    color: white;
    font-size: 14px;
    width: 200px;
    height: 30px;
    transition: all .2s;
    border: none;
  }
  
  #search-bar:hover {
    background-color: #779ec1;
  }
  
  #search-bar:focus {
    background-color: white;
    color: #212529;
    width: 400px;
  }
  
  #search-bar::-webkit-input-placeholder {
    color: white !important;
  }
  
  #search-bar:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
  }
  
  #search-bar::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
  }
  
  #search-bar:-ms-input-placeholder {
    color: white !important;
  }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }